
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    background-color: #004d26;
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #006633;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #004d26;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
