.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  margin: 31px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-2 .u-shape-1 {
  height: 328px;
  width: 525px;
  background-image: none;
  margin: 32px 0 0 30px;
}

.u-section-2 .u-image-1 {
  width: 522px;
  height: 330px;
  margin: -360px 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 60px 20px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 180px;
  order: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 60px 20px 0;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 360px;
}

.u-section-2 .u-shape-2 {
  height: 328px;
  width: 525px;
  background-image: none;
  margin: 32px 0 0 30px;
}

.u-section-2 .u-image-2 {
  width: 522px;
  height: 330px;
  margin: -360px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 25px;
    width: 433px;
  }

  .u-section-2 .u-image-1 {
    width: 431px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 49px;
  }

  .u-section-2 .u-btn-1 {
    width: 99px;
    height: 38px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 49px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 25px;
    width: 433px;
  }

  .u-section-2 .u-image-2 {
    width: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-1 {
    height: 369px;
    width: 561px;
    margin-right: auto;
    margin-left: 36px;
  }

  .u-section-2 .u-image-1 {
    width: 554px;
    height: 361px;
    margin-top: -401px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
    order: 1;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
    order: 0;
  }

  .u-section-2 .u-shape-2 {
    height: 369px;
    width: 561px;
    margin-right: auto;
    margin-left: 36px;
  }

  .u-section-2 .u-image-2 {
    width: 554px;
    height: 361px;
    margin-top: -401px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    height: 321px;
    width: 510px;
    margin-top: 60px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 508px;
    height: 345px;
    margin-top: -381px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    height: 321px;
    width: 510px;
    margin-top: 60px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 508px;
    height: 345px;
    margin-top: -381px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-2 .u-shape-1 {
    height: 240px;
    width: 315px;
    margin-top: 31px;
  }

  .u-section-2 .u-image-1 {
    width: 308px;
    height: 239px;
    margin-top: -271px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-2 .u-shape-2 {
    height: 240px;
    width: 315px;
    margin-top: 31px;
  }

  .u-section-2 .u-image-2 {
    width: 308px;
    height: 239px;
    margin-top: -271px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 532px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-4 .u-image-1 {
  min-height: 402px;
  background-image: url("images/YKEmxlw.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 402px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-4 .u-image-2 {
  min-height: 402px;
  background-image: url("images/TgyD60.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 331px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-4 .u-image-2 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-4 .u-image-1 {
    min-height: 254px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-4 .u-image-1 {
    min-height: 572px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 572px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-image-1 {
    min-height: 360px;
  }

  .u-section-4 .u-image-2 {
    min-height: 360px;
  }
}